<div class="history-container">
  <mat-form-field appearance="fill" class="account-select">
    <mat-label>Select Account</mat-label>
    <mat-select [(ngModel)]="selectedAccount" (selectionChange)="updateFilteredTransactions()">
      <mat-option *ngFor="let acc of accounts" [value]="acc.id">
        {{ acc.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  
    <div *ngIf="filteredTransactions.length; else noData">
      <mat-list *ngIf="filteredTransactions.length > 0">
        <mat-list-item *ngFor="let tx of filteredTransactions">
          <div>
            <div>
              <b>{{ tx.type }}:</b>
              <span style="color: red;"> ${{ tx.amount }}</span>
              to <b>{{ tx.to }}</b> from <b>{{ tx.from }}</b>
            </div>
            <small>{{ tx.date | date: 'short' }}</small>
          </div>
        </mat-list-item>
      </mat-list>
    </div>
  
    <ng-template #noData>
      <p>No transactions available for this account.</p>
    </ng-template>
  </div>
  